.temperatureListUl {
    list-style-type: none;
    max-height: 200px;
    overflow-y: auto;
  }

  .temperatureListLi {
    margin-bottom: 10px;
  }

  .temperatureListLiError {
    text-decoration: underline;
    color: red;
  }

  .averageTemperature {
    text-decoration: underline;
  }

  .selectedDate {
    text-decoration: underline;
  }

  .temperatureWrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 2rem;
    border: 1px solid black;
    padding: 1rem;
  }
  
