#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  background-image: url('assets/Stormclouds.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

button {
  border-radius: 10px;
  margin-left: 5px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  background-color: lightblue;
  cursor: pointer;
}
button:hover {
  background-color: cornflowerblue;
}

